# Prática 1: Limpieza de datos
#### Aplicar funciones para resumir y entender los datos (Summary).
#### Componer datos, eliminar problemas en datos NA, NULL, revisar la primer hoja del Road-Accident-Safety-Data-Guide-1979-2004.xls para conocer las consideraciones (Fix)
#### Cambiar los tipos de datos necesarios (fechas, números con los que se vayan a operar, etc.), crear los factores de acuerdo a Road-Accident-Safety-Data-Guide-1979-2004.xls (Fix)
#### Si es necesario, adaptar los atributos que sean necesarios (Adapt).

## accidents2004
### Funciones para resumir y entender los datos:

In [82]:
# importamos pandas para el análisis y manipulación de los datos
import pandas as pd

In [83]:
# Leemos el csv
accidents = pd.read_csv('../data/accidents2004.csv')

/Users/cristofer/GitHub/.vb/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3062: DtypeWarning: Columns (32) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [84]:
accidents.info() # nos devuelve la información del DateFrame, como el número de filas y columnas,
# los nombres de las columnas así como los tipos de cada una (tipo de dato) y la cantidad memoria usada
# por el DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207410 entries, 0 to 207409
Data columns (total 33 columns):
 #   Column                                       Non-Null Count   Dtype
---  ------                                       --------------   -----
 0   Unnamed: 0                                   207410 non-null  int64
 1   �..Accident_Index                            207410 non-null  object
 2   Location_Easting_OSGR                        207280 non-null  float64
 3   Location_Northing_OSGR                       207280 non-null  float64
 4   Longitude                                    207280 non-null  float64
 5   Latitude                                     207280 non-null  float64
 6   Police_Force                                 207410 non-null  int64
 7   Accident_Severity                            207410 non-null  int64
 8   Number_of_Vehicles                           207410 non-null  int64
 9   Number_of_Casualties                         207410 non-null  int64
 10  Date                                         207410 non-null  object
 11  Day_of_Week                                  207410 non-null  int64
 12  Time                                         207399 non-null  object
 13  Local_Authority_.District.                   207410 non-null  int64
 14  Local_Authority_.Highway.                    207410 non-null  object
 15  X1st_Road_Class                              207410 non-null  int64
 16  X1st_Road_Number                             207410 non-null  int64
 17  Road_Type                                    207410 non-null  int64
 18  Speed_limit                                  207410 non-null  int64
 19  Junction_Detail                              207410 non-null  int64
 20  Junction_Control                             207410 non-null  int64
 21  X2nd_Road_Class                              207410 non-null  int64
 22  X2nd_Road_Number                             207410 non-null  int64
 23  Pedestrian_Crossing.Human_Control            207410 non-null  int64
 24  Pedestrian_Crossing.Physical_Facilities      207410 non-null  int64
 25  Light_Conditions                             207410 non-null  int64
 26  Weather_Conditions                           207410 non-null  int64
 27  Road_Surface_Conditions                      207410 non-null  int64
 28  Special_Conditions_at_Site                   207410 non-null  int64
 29  Carriageway_Hazards                          207410 non-null  int64
 30  Urban_or_Rural_Area                          207410 non-null  int64
 31  Did_Police_Officer_Attend_Scene_of_Accident  207410 non-null  int64
 32  LSOA_of_Accident_Location                    183697 non-null  object
dtypes: float64(4), int64(24), object(5)
memory usage: 52.2+ MB

In [85]:
# mostramos los primeros registros con el método head
accidents.head()

,Unnamed: 0,�..Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,...,Pedestrian_Crossing.Human_Control,Pedestrian_Crossing.Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location
0,6016789,200401BS00001,526880.0,179000.0,-0.173622,51.495658,1,3,2,1,...,0,5,4,1,1,0,0,1,1,E01002821
1,6016790,200401BS00002,526230.0,178450.0,-0.183177,51.490860,1,2,1,1,...,0,5,4,2,2,0,0,1,1,E01002836
2,6016791,200401BS00003,526400.0,179620.0,-0.180311,51.501337,1,3,2,2,...,0,5,4,2,2,0,0,1,1,E01002891
3,6016792,200401BS00004,524260.0,179470.0,-0.211179,51.500464,1,3,2,1,...,0,0,1,2,2,0,0,1,1,E01002866
4,6016793,200401BS00006,523700.0,181470.0,-0.218542,51.518561,1,2,2,1,...,0,0,1,1,1,0,0,1,1,E01002876

In [86]:
# y los últimos registros con el método tail
accidents.tail()

,Unnamed: 0,�..Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,...,Pedestrian_Crossing.Human_Control,Pedestrian_Crossing.Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location
207405,6224194,2004984162204,322340.0,567270.0,-3.215400,54.993955,98,3,3,1,...,0,0,1,2,4,0,0,2,1,NaN
207406,6224195,2004984162804,317850.0,567570.0,-3.285649,54.995929,98,3,1,1,...,0,0,4,4,2,0,0,2,1,NaN
207407,6224196,2004984163904,304300.0,607980.0,-3.511052,55.356510,98,3,1,1,...,0,0,6,8,4,0,0,2,1,NaN
207408,6224197,2004984164304,306400.0,605130.0,-3.476987,55.331314,98,2,1,2,...,0,0,6,5,2,0,0,2,1,NaN
207409,6224198,2004984164804,320150.0,569440.0,-3.250229,55.013104,98,3,1,1,...,0,0,6,1,2,0,0,2,1,NaN

In [87]:
# Obtenemos una descripción general de estadísticos con el método describe
accidents.describe()

,Unnamed: 0,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Day_of_Week,...,X2nd_Road_Number,Pedestrian_Crossing.Human_Control,Pedestrian_Crossing.Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident
count,2.074100e+05,207280.000000,2.072800e+05,207280.000000,207280.000000,207410.000000,207410.000000,207410.000000,207410.000000,207410.000000,...,207410.000000,207410.000000,207410.000000,207410.000000,207410.000000,207410.000000,207410.000000,207410.000000,207410.000000,207410.000000
mean,6.120494e+06,436584.834765,3.022250e+05,-1.480996,52.608144,30.710038,2.842322,1.831373,1.354033,4.137689,...,390.265060,0.005178,0.645065,1.985184,1.498689,1.365035,0.064322,0.016860,1.366646,1.141570
std,5.987425e+04,95293.013359,1.603311e+05,1.401643,1.443622,25.572253,0.401911,0.719767,0.830056,1.929810,...,1303.867462,0.092703,1.711374,1.660734,1.463468,0.618476,0.504591,0.281127,0.483598,0.588384
min,6.016789e+06,65420.000000,1.027000e+04,-7.506902,49.912761,1.000000,1.000000,1.000000,1.000000,1.000000,...,-1.000000,-1.000000,-1.000000,1.000000,-1.000000,-1.000000,-1.000000,-1.000000,1.000000,-1.000000
25%,6.068641e+06,372000.000000,1.792900e+05,-2.420322,51.500292,7.000000,3.000000,1.000000,1.000000,3.000000,...,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000
50%,6.120494e+06,435900.000000,2.770100e+05,-1.462320,52.384309,30.000000,3.000000,2.000000,1.000000,4.000000,...,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000
75%,6.172346e+06,520540.000000,3.986700e+05,-0.252341,53.483442,46.000000,3.000000,2.000000,1.000000,6.000000,...,0.000000,0.000000,0.000000,4.000000,1.000000,2.000000,0.000000,0.000000,2.000000,1.000000
max,6.224198e+06,655230.000000,1.201800e+06,1.757968,60.695193,98.000000,3.000000,18.000000,67.000000,7.000000,...,9999.000000,2.000000,8.000000,7.000000,9.000000,5.000000,5.000000,3.000000,3.000000,3.000000

Con esto podemos ver que el data frame se encuentra conformado por 207410 filas por 33 columnas, las filas están
indexadas a partir del número 0, y las columnas son 4 de tipo float, 24 de tipo int, y las otras 5 corresponden al tipo object, además podemos observar que **no** se está haciendo del tipo de dato NaN para especificar datos nulos o faltantes, por lo que tendremos que recurrir limpiar los datos de forma no directa, podemos ver la cantidad de memoria que nos está ocupando cargar el .csv y por último mediante el método describe podemos ver algunos estadísticos importantes como el conteo, la media, desviación estándar, entre otro (recordar que esta información está sucia debido a los datos faltantes).

## Eliminar datos faltantes y nulos:

En la documentación para el fix se menciona que se hace uso de **-1** para los valores null o fuera del rango, por lo que nuestra tarea es limpiar estos datos

puesto que se está usando el valor -1 como indicador para los valores nulos o faltantes debemos buscar todas la filas
que contienen dicho valor:

In [88]:
missing_values = accidents[accidents.eq(-1).any(1)]
missing_values
# el método .eq(n) busca el número n, mientras que con .any(axis) le indicamos dónde buscar
# en Pandas axis=0 es usado para los renglones y axis=1 para las columnas, por lo que la línea
# de arriba busca el valor -1 en barriendo todas las columnas, es decir, si encuentra un -1 devuelve
# esa fila

,Unnamed: 0,�..Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,...,Pedestrian_Crossing.Human_Control,Pedestrian_Crossing.Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location
0,6016789,200401BS00001,526880.0,179000.0,-0.173622,51.495658,1,3,2,1,...,0,5,4,1,1,0,0,1,1,E01002821
3,6016792,200401BS00004,524260.0,179470.0,-0.211179,51.500464,1,3,2,1,...,0,0,1,2,2,0,0,1,1,E01002866
9,6016798,200401BS00012,525970.0,177930.0,-0.187106,51.486245,1,3,2,1,...,0,0,1,1,2,0,2,1,1,E01002896
11,6016800,200401BS00014,524180.0,179570.0,-0.212296,51.501380,1,3,2,1,...,0,0,1,1,1,0,0,1,1,E01002866
12,6016801,200401BS00015,525970.0,177770.0,-0.187163,51.484807,1,3,3,2,...,0,0,4,1,2,0,3,1,1,E01002893
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207404,6224193,2004984161704,319400.0,566580.0,-3.261148,54.987289,98,3,1,1,...,0,0,1,1,1,0,-1,2,1,NaN
207405,6224194,2004984162204,322340.0,567270.0,-3.215400,54.993955,98,3,3,1,...,0,0,1,2,4,0,0,2,1,NaN
207407,6224196,2004984163904,304300.0,607980.0,-3.511052,55.356510,98,3,1,1,...,0,0,6,8,4,0,0,2,1,NaN
207408,6224197,2004984164304,306400.0,605130.0,-3.476987,55.331314,98,2,1,2,...,0,0,6,5,2,0,0,2,1,NaN
207409,6224198,2004984164804,320150.0,569440.0,-3.250229,55.013104,98,3,1,1,...,0,0,6,1,2,0,0,2,1,NaN

podemos observar que tenemos un total 97500 filas que contienen al menos un valor -1, con esto ya encontramos los valores faltantes, en este caso elegiremos remover los datos faltantes puesto que la cantidad de datos es alta,
con esto recordemos que el data frame original cuenta con 207410 filas de las cuales 97500 cuentan con datos faltantes, por lo que nuestro data freme sin datos faltantes debe contar con 207410 - 97500 = **109910**

In [89]:
accidents = accidents[accidents.ne(-1).all(1)]
# en el ejemplo anterior buscamos cualquier fila que contuviera el valor -1, ahora buscamos todas las
# filas que no contienen el valor -1, usamos ne: not equal en lugar de eq y all en lugar de any

In [96]:
len(accidents) # podemos comprobar que el número de filas que obtenemos corresponde a la resta que calculamos

109910

Hasta este punto tenemos nuestro data frame libre de datos faltantes

In [97]:
accidents.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 109910 entries, 1 to 207406
Data columns (total 33 columns):
 #   Column                                       Non-Null Count   Dtype
---  ------                                       --------------   -----
 0   Unnamed: 0                                   109910 non-null  int64
 1   �..Accident_Index                            109910 non-null  object
 2   Location_Easting_OSGR                        109889 non-null  float64
 3   Location_Northing_OSGR                       109889 non-null  float64
 4   Longitude                                    109889 non-null  float64
 5   Latitude                                     109889 non-null  float64
 6   Police_Force                                 109910 non-null  int64
 7   Accident_Severity                            109910 non-null  int64
 8   Number_of_Vehicles                           109910 non-null  int64
 9   Number_of_Casualties                         109910 non-null  int64
 10  Date                                         109910 non-null  object
 11  Day_of_Week                                  109910 non-null  int64
 12  Time                                         109906 non-null  object
 13  Local_Authority_.District.                   109910 non-null  int64
 14  Local_Authority_.Highway.                    109910 non-null  object
 15  X1st_Road_Class                              109910 non-null  int64
 16  X1st_Road_Number                             109910 non-null  int64
 17  Road_Type                                    109910 non-null  int64
 18  Speed_limit                                  109910 non-null  int64
 19  Junction_Detail                              109910 non-null  int64
 20  Junction_Control                             109910 non-null  int64
 21  X2nd_Road_Class                              109910 non-null  int64
 22  X2nd_Road_Number                             109910 non-null  int64
 23  Pedestrian_Crossing.Human_Control            109910 non-null  int64
 24  Pedestrian_Crossing.Physical_Facilities      109910 non-null  int64
 25  Light_Conditions                             109910 non-null  int64
 26  Weather_Conditions                           109910 non-null  int64
 27  Road_Surface_Conditions                      109910 non-null  int64
 28  Special_Conditions_at_Site                   109910 non-null  int64
 29  Carriageway_Hazards                          109910 non-null  int64
 30  Urban_or_Rural_Area                          109910 non-null  int64
 31  Did_Police_Officer_Attend_Scene_of_Accident  109910 non-null  int64
 32  LSOA_of_Accident_Location                    98863 non-null   object
dtypes: float64(4), int64(24), object(5)
memory usage: 28.5+ MB

### Cambiar tipos de datos necesarios

Necesitamos cambiar los tipos de datos cuando vamos a operar sobre de ellos y los operandos no corresponden al tipo de dato que soporta el operador, por ejemplo, si tenemos los datos de la columna Speed_limit como tipo carácter y queremos sacar la media de los mismos tendremos un problema por lo que primero debemos transformarlo a un tipo númerico para poder operar sobre de ellos.

En nuestro caso nuestro data frame es un su mayoría numérico excepto por las columnas de **Accident_Index** **Date** **Time** **Local_Authority_.Highway.** **LSOA_of_Accident_Location**, corroboramos que los datos de las fechas estén en el formato especifícado:

In [98]:
accidents['Date'].tail()

207385    22/10/2004
207386    28/10/2004
207392    12/11/2004
207398    03/12/2004
207406    22/12/2004
Name: Date, dtype: object

In [99]:
accidents['Time'].head()

1    22:21
2    22:47
4    12:15
5    16:50
6    18:20
Name: Time, dtype: object

El formato coincide de forma correcta, y puesto que hasta este momento no sabemos qué tipo de operaciones vamos a relizar no es prudente cambiar el formato o adaptar los mismos, de caso de ser necesario se haría de la siguiente manera:

In [94]:
# para cambiar el tipo de dato o el formato haciendo uso de expresiones regulares:
# accidents['Column_name'].str.replace('regex', 'char_use_to_replace').astype(int)

# aplicando transformaciones a los datos mediante funciones anónimas, en el ejemplo tomamos cada valor y lo
# elevamos al cuadrado
# accidents['Column_name'].apply(lambda x: x**2)

In [102]:
accidents.to_csv('../data/accidents_clean.csv')
accidents = pd.read_csv('../data/accidents_clean.csv')
accidents

,Unnamed: 0,Unnamed: 0.1,�..Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,...,Pedestrian_Crossing.Human_Control,Pedestrian_Crossing.Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location
0,1,6016790,200401BS00002,526230.0,178450.0,-0.183177,51.490860,1,2,1,...,0,5,4,2,2,0,0,1,1,E01002836
1,2,6016791,200401BS00003,526400.0,179620.0,-0.180311,51.501337,1,3,2,...,0,5,4,2,2,0,0,1,1,E01002891
2,4,6016793,200401BS00006,523700.0,181470.0,-0.218542,51.518561,1,2,2,...,0,0,1,1,1,0,0,1,1,E01002876
3,5,6016794,200401BS00007,527400.0,178650.0,-0.166262,51.492396,1,2,2,...,0,1,4,1,1,0,0,1,1,E01002858
4,6,6016795,200401BS00009,524470.0,180140.0,-0.207919,51.506439,1,3,1,...,0,0,4,1,1,0,0,1,1,E01002868
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109905,207385,6224174,2004984151404,319310.0,571260.0,-3.263876,55.029320,98,3,3,...,0,0,1,1,2,0,0,2,1,NaN
109906,207386,6224175,2004984152504,320130.0,569350.0,-3.250516,55.012293,98,3,2,...,0,0,1,1,1,0,0,2,1,NaN
109907,207392,6224181,2004984154804,308480.0,605230.0,-3.444244,55.332604,98,3,1,...,0,0,1,1,1,0,0,2,2,NaN
109908,207398,6224187,2004984158504,324830.0,566410.0,-3.176264,54.986611,98,2,1,...,0,0,4,1,2,0,0,2,1,NaN
109909,207406,6224195,2004984162804,317850.0,567570.0,-3.285649,54.995929,98,3,1,...,0,0,4,4,2,0,0,2,1,NaN

### Factores

Los factores es una forma de representar conjuntos de datos que caen dentro de un número finito de distintas categorías, en lugar de pertenecer a un espacio continuo de valores, en este caso sólo cambiamos un conjunto de datos a variables categóricas para demostrar su funcionamiento. No cambié todas porque algunas tienen muchas categorías pero se harían de la misma manera presentada:

In [103]:
accidents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109910 entries, 0 to 109909
Data columns (total 34 columns):
 #   Column                                       Non-Null Count   Dtype
---  ------                                       --------------   -----
 0   Unnamed: 0                                   109910 non-null  int64
 1   Unnamed: 0.1                                 109910 non-null  int64
 2   �..Accident_Index                            109910 non-null  object
 3   Location_Easting_OSGR                        109889 non-null  float64
 4   Location_Northing_OSGR                       109889 non-null  float64
 5   Longitude                                    109889 non-null  float64
 6   Latitude                                     109889 non-null  float64
 7   Police_Force                                 109910 non-null  int64
 8   Accident_Severity                            109910 non-null  int64
 9   Number_of_Vehicles                           109910 non-null  int64
 10  Number_of_Casualties                         109910 non-null  int64
 11  Date                                         109910 non-null  object
 12  Day_of_Week                                  109910 non-null  int64
 13  Time                                         109906 non-null  object
 14  Local_Authority_.District.                   109910 non-null  int64
 15  Local_Authority_.Highway.                    109910 non-null  object
 16  X1st_Road_Class                              109910 non-null  int64
 17  X1st_Road_Number                             109910 non-null  int64
 18  Road_Type                                    109910 non-null  int64
 19  Speed_limit                                  109910 non-null  int64
 20  Junction_Detail                              109910 non-null  int64
 21  Junction_Control                             109910 non-null  int64
 22  X2nd_Road_Class                              109910 non-null  int64
 23  X2nd_Road_Number                             109910 non-null  int64
 24  Pedestrian_Crossing.Human_Control            109910 non-null  int64
 25  Pedestrian_Crossing.Physical_Facilities      109910 non-null  int64
 26  Light_Conditions                             109910 non-null  int64
 27  Weather_Conditions                           109910 non-null  int64
 28  Road_Surface_Conditions                      109910 non-null  int64
 29  Special_Conditions_at_Site                   109910 non-null  int64
 30  Carriageway_Hazards                          109910 non-null  int64
 31  Urban_or_Rural_Area                          109910 non-null  int64
 32  Did_Police_Officer_Attend_Scene_of_Accident  109910 non-null  int64
 33  LSOA_of_Accident_Location                    98863 non-null   object
dtypes: float64(4), int64(25), object(5)
memory usage: 28.5+ MB

Un cojunto de datos al que podemos aplicar factores es a **Accident_Severity**, puesto que **1: fatal**, **2: serious**, **3: slight**

In [104]:
severity = {
  1: 'fatal',
  2: 'serious',
  3: 'slight'
}
accident_severity = accidents.replace({"Accident_Severity": di})['Accident_Severity']
accident_severity.astype('category')

0         serious
1          slight
2         serious
3         serious
4          slight
           ...
109905     slight
109906     slight
109907     slight
109908    serious
109909     slight
Name: Accident_Severity, Length: 109910, dtype: category
Categories (3, object): [fatal, serious, slight]

Con la forma de arriba podemos cambiar los valos numéricos por valores representativos, es decir podemos categorizar los datos.

por último podemos crear un nuevo data set con las modificaciones que hemos realizado, el cual se encuentra limpio de datos faltantes:

In [107]:
accidents_cl = accidents.replace({"Accident_Severity": di})
accidents_cl.to_csv('../data/accidents_clean.csv')

Con esto estamos preparados para limpiar el Data Set dependiendo de los características que necesitemos que tenga

### casualty2004

Seguimos el mismo procedimiento que para hicimos anteriormente

In [112]:
casualty = pd.read_csv('../data/casualty2004.csv')

In [114]:
casualty.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280840 entries, 0 to 280839
Data columns (total 15 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   Unnamed: 0                          280840 non-null  int64
 1   �..Acc_Index                        280840 non-null  object
 2   Vehicle_Reference                   280840 non-null  int64
 3   Casualty_Reference                  280840 non-null  int64
 4   Casualty_Class                      280840 non-null  int64
 5   Sex_of_Casualty                     280840 non-null  int64
 6   Age_Band_of_Casualty                280840 non-null  int64
 7   Casualty_Severity                   280840 non-null  int64
 8   Pedestrian_Location                 280840 non-null  int64
 9   Pedestrian_Movement                 280840 non-null  int64
 10  Car_Passenger                       280840 non-null  int64
 11  Bus_or_Coach_Passenger              280840 non-null  int64
 12  Pedestrian_Road_Maintenance_Worker  280840 non-null  int64
 13  Casualty_Type                       280840 non-null  int64
 14  Casualty_Home_Area_Type             280840 non-null  int64
dtypes: int64(14), object(1)
memory usage: 32.1+ MB

In [117]:
casualty.head()

,Unnamed: 0,�..Acc_Index,Vehicle_Reference,Casualty_Reference,Casualty_Class,Sex_of_Casualty,Age_Band_of_Casualty,Casualty_Severity,Pedestrian_Location,Pedestrian_Movement,Car_Passenger,Bus_or_Coach_Passenger,Pedestrian_Road_Maintenance_Worker,Casualty_Type,Casualty_Home_Area_Type
0,1,200401BS00001,1,1,1,1,10,3,0,0,0,0,0,3,1
1,2,200401BS00002,1,1,3,1,6,2,4,3,0,0,-1,0,1
2,3,200401BS00003,1,1,1,1,6,3,0,0,0,0,0,109,-1
3,4,200401BS00003,1,2,2,2,6,3,0,0,1,0,0,109,1
4,5,200401BS00004,1,1,1,1,6,3,0,0,0,0,0,3,1

In [118]:
casualty.tail()

,Unnamed: 0,�..Acc_Index,Vehicle_Reference,Casualty_Reference,Casualty_Class,Sex_of_Casualty,Age_Band_of_Casualty,Casualty_Severity,Pedestrian_Location,Pedestrian_Movement,Car_Passenger,Bus_or_Coach_Passenger,Pedestrian_Road_Maintenance_Worker,Casualty_Type,Casualty_Home_Area_Type
280835,280836,2004984162804,1,1,1,1,8,3,0,0,0,0,0,21,-1
280836,280837,2004984163904,1,1,1,2,6,3,0,0,0,0,0,109,1
280837,280838,2004984164304,1,1,1,1,7,3,0,0,0,0,0,109,2
280838,280839,2004984164304,1,2,2,2,8,2,0,0,1,0,0,109,2
280839,280840,2004984164804,1,1,1,2,6,3,0,0,0,0,0,109,2

In [119]:
casualty.describe()

,Unnamed: 0,Vehicle_Reference,Casualty_Reference,Casualty_Class,Sex_of_Casualty,Age_Band_of_Casualty,Casualty_Severity,Pedestrian_Location,Pedestrian_Movement,Car_Passenger,Bus_or_Coach_Passenger,Pedestrian_Road_Maintenance_Worker,Casualty_Type,Casualty_Home_Area_Type
count,280840.000000,280840.000000,280840.000000,280840.000000,280840.000000,280840.000000,280840.000000,280840.000000,280840.000000,280840.000000,280840.000000,280840.000000,280840.000000,280840.000000
mean,140420.500000,1.473583,1.438164,1.511498,1.417978,5.838598,2.866216,0.671945,0.445866,0.300691,0.098569,-0.124202,77.880291,0.547297
std,81071.669137,0.618285,1.276690,0.705886,0.495259,2.452784,0.372592,1.955331,1.563629,0.603615,0.590004,0.329813,47.787869,1.221521
min,1.000000,1.000000,1.000000,1.000000,-1.000000,-1.000000,1.000000,0.000000,-1.000000,0.000000,0.000000,-1.000000,0.000000,-1.000000
25%,70210.750000,1.000000,1.000000,1.000000,1.000000,4.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,11.000000,-1.000000
50%,140420.500000,1.000000,1.000000,1.000000,1.000000,6.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,109.000000,1.000000
75%,210630.250000,2.000000,2.000000,2.000000,2.000000,7.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,109.000000,1.000000
max,280840.000000,17.000000,67.000000,3.000000,2.000000,11.000000,3.000000,10.000000,9.000000,2.000000,4.000000,0.000000,109.000000,3.000000

In [121]:
missing_values_casualty = casualty[casualty.eq(-1).any(1)]
missing_values_casualty

,Unnamed: 0,�..Acc_Index,Vehicle_Reference,Casualty_Reference,Casualty_Class,Sex_of_Casualty,Age_Band_of_Casualty,Casualty_Severity,Pedestrian_Location,Pedestrian_Movement,Car_Passenger,Bus_or_Coach_Passenger,Pedestrian_Road_Maintenance_Worker,Casualty_Type,Casualty_Home_Area_Type
1,2,200401BS00002,1,1,3,1,6,2,4,3,0,0,-1,0,1
2,3,200401BS00003,1,1,1,1,6,3,0,0,0,0,0,109,-1
9,10,200401BS00010,2,2,1,1,5,3,0,0,0,0,0,109,-1
11,12,200401BS00012,1,1,1,1,8,3,0,0,0,0,0,109,-1
17,18,200401BS00018,1,1,3,2,11,2,1,1,0,0,-1,0,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280828,280829,2004984159504,1,1,1,1,6,3,0,0,0,0,0,109,-1
280831,280832,2004984160404,5,2,2,2,5,3,0,0,1,0,0,109,-1
280833,280834,2004984161704,1,1,3,1,2,3,5,1,0,0,-1,0,-1
280834,280835,2004984162204,2,1,1,1,5,3,0,0,0,0,0,109,-1
280835,280836,2004984162804,1,1,1,1,8,3,0,0,0,0,0,21,-1

In [122]:
casualty = casualty[casualty.ne(-1).all(1)]
casualty

,Unnamed: 0,�..Acc_Index,Vehicle_Reference,Casualty_Reference,Casualty_Class,Sex_of_Casualty,Age_Band_of_Casualty,Casualty_Severity,Pedestrian_Location,Pedestrian_Movement,Car_Passenger,Bus_or_Coach_Passenger,Pedestrian_Road_Maintenance_Worker,Casualty_Type,Casualty_Home_Area_Type
0,1,200401BS00001,1,1,1,1,10,3,0,0,0,0,0,3,1
3,4,200401BS00003,1,2,2,2,6,3,0,0,1,0,0,109,1
4,5,200401BS00004,1,1,1,1,6,3,0,0,0,0,0,3,1
5,6,200401BS00006,2,1,1,1,6,2,0,0,0,0,0,106,1
6,7,200401BS00007,1,1,1,1,5,2,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280832,280833,2004984161104,1,1,1,1,6,3,0,0,0,0,0,109,3
280836,280837,2004984163904,1,1,1,2,6,3,0,0,0,0,0,109,1
280837,280838,2004984164304,1,1,1,1,7,3,0,0,0,0,0,109,2
280838,280839,2004984164304,1,2,2,2,8,2,0,0,1,0,0,109,2
280839,280840,2004984164804,1,1,1,2,6,3,0,0,0,0,0,109,2

In [123]:
len(casualty)

164706

In [124]:
# cambiamos una de las columnas a variables categóricas

In [127]:
sex = {
  1: 'male',
  2: 'female'
}
sex_casualty = casualty.replace({"Sex_of_Casualty": sex})['Sex_of_Casualty']
sex_casualty.astype('category')

0           male
3         female
4           male
5           male
6           male
           ...
280832      male
280836    female
280837      male
280838    female
280839    female
Name: Sex_of_Casualty, Length: 164706, dtype: category
Categories (2, object): [female, male]

In [128]:
casualty_cl = casualty.replace({"Sex_of_Casualty": di})
casualty_cl.to_csv('../data/casualty_clean.csv')

### vehicles2004

In [138]:
vehicles = pd.read_csv('../data/vehicles2004.csv')

In [139]:
vehicles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 379845 entries, 0 to 379844
Data columns (total 22 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   Unnamed: 0                        379845 non-null  int64
 1   �..Acc_Index                      379845 non-null  object
 2   Vehicle_Reference                 379845 non-null  int64
 3   Vehicle_Type                      379845 non-null  int64
 4   Towing_and_Articulation           379845 non-null  int64
 5   Vehicle_Manoeuvre                 379845 non-null  int64
 6   Vehicle_Location.Restricted_Lane  379845 non-null  int64
 7   Junction_Location                 379845 non-null  int64
 8   Skidding_and_Overturning          379845 non-null  int64
 9   Hit_Object_in_Carriageway         379845 non-null  int64
 10  Vehicle_Leaving_Carriageway       379845 non-null  int64
 11  Hit_Object_off_Carriageway        379845 non-null  int64
 12  X1st_Point_of_Impact              379845 non-null  int64
 13  Was_Vehicle_Left_Hand_Drive.      379845 non-null  int64
 14  Journey_Purpose_of_Driver         379845 non-null  int64
 15  Sex_of_Driver                     379845 non-null  int64
 16  Age_Band_of_Driver                379845 non-null  int64
 17  Engine_Capacity_.CC.              379845 non-null  int64
 18  Propulsion_Code                   379845 non-null  int64
 19  Age_of_Vehicle                    379845 non-null  int64
 20  Driver_IMD_Decile                 379845 non-null  int64
 21  Driver_Home_Area_Type             379845 non-null  int64
dtypes: int64(21), object(1)
memory usage: 63.8+ MB

In [140]:
vehicles.head()

,Unnamed: 0,�..Acc_Index,Vehicle_Reference,Vehicle_Type,Towing_and_Articulation,Vehicle_Manoeuvre,Vehicle_Location.Restricted_Lane,Junction_Location,Skidding_and_Overturning,Hit_Object_in_Carriageway,...,X1st_Point_of_Impact,Was_Vehicle_Left_Hand_Drive.,Journey_Purpose_of_Driver,Sex_of_Driver,Age_Band_of_Driver,Engine_Capacity_.CC.,Propulsion_Code,Age_of_Vehicle,Driver_IMD_Decile,Driver_Home_Area_Type
0,1,200401BS00001,1,3,0,18,0,-1,0,0,...,4,-1,-1,1,10,-1,-1,-1,8,1
1,2,200401BS00001,2,109,0,18,0,-1,0,0,...,1,-1,-1,1,6,1588,1,3,5,1
2,3,200401BS00002,1,109,0,18,0,-1,0,0,...,1,-1,-1,1,6,-1,-1,-1,3,1
3,4,200401BS00003,1,109,0,9,0,-1,0,0,...,1,-1,-1,1,6,998,1,4,-1,-1
4,5,200401BS00003,2,109,0,18,0,-1,0,0,...,1,-1,-1,1,10,-1,-1,-1,-1,-1

In [141]:
vehicles.tail()

,Unnamed: 0,�..Acc_Index,Vehicle_Reference,Vehicle_Type,Towing_and_Articulation,Vehicle_Manoeuvre,Vehicle_Location.Restricted_Lane,Junction_Location,Skidding_and_Overturning,Hit_Object_in_Carriageway,...,X1st_Point_of_Impact,Was_Vehicle_Left_Hand_Drive.,Journey_Purpose_of_Driver,Sex_of_Driver,Age_Band_of_Driver,Engine_Capacity_.CC.,Propulsion_Code,Age_of_Vehicle,Driver_IMD_Decile,Driver_Home_Area_Type
379840,379841,2004984162204,3,109,0,18,0,-1,0,0,...,2,-1,-1,1,6,1997,1,10,-1,-1
379841,379842,2004984162804,1,21,2,7,0,-1,5,0,...,3,-1,-1,1,8,-1,2,9,-1,-1
379842,379843,2004984163904,1,109,0,16,0,-1,2,0,...,3,-1,-1,2,6,1299,1,-1,6,1
379843,379844,2004984164304,1,109,0,18,0,-1,1,0,...,3,-1,-1,1,7,3200,1,1,9,2
379844,379845,2004984164804,1,109,0,18,0,-1,0,0,...,3,-1,-1,2,6,998,1,7,-1,2

In [142]:
vehicles.describe()

,Unnamed: 0,Vehicle_Reference,Vehicle_Type,Towing_and_Articulation,Vehicle_Manoeuvre,Vehicle_Location.Restricted_Lane,Junction_Location,Skidding_and_Overturning,Hit_Object_in_Carriageway,Vehicle_Leaving_Carriageway,...,X1st_Point_of_Impact,Was_Vehicle_Left_Hand_Drive.,Journey_Purpose_of_Driver,Sex_of_Driver,Age_Band_of_Driver,Engine_Capacity_.CC.,Propulsion_Code,Age_of_Vehicle,Driver_IMD_Decile,Driver_Home_Area_Type
count,379845.000000,379845.000000,379845.000000,379845.000000,379845.000000,379845.000000,379845.0,379845.000000,379845.000000,379845.000000,...,379845.000000,379845.0,379845.0,379845.000000,379845.000000,379845.000000,379845.000000,379845.000000,379845.000000,379845.000000
mean,189923.000000,1.557133,90.300736,0.034683,13.240072,0.103268,-1.0,0.237602,0.313875,0.391302,...,1.695918,-1.0,-1.0,1.389946,5.725169,1359.008506,0.651692,4.452966,2.809491,0.571233
std,109651.950838,0.738680,38.394683,0.320440,5.979680,0.884863,0.0,0.727904,1.617057,1.422402,...,1.141318,0.0,0.0,0.596018,2.894006,1678.770902,1.074350,5.132192,3.842711,1.227886
min,1.000000,1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.0,-1.000000,-1.000000,-1.000000,...,-1.000000,-1.0,-1.0,1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
25%,94962.000000,1.000000,109.000000,0.000000,9.000000,0.000000,-1.0,0.000000,0.000000,0.000000,...,1.000000,-1.0,-1.0,1.000000,5.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
50%,189923.000000,1.000000,109.000000,0.000000,18.000000,0.000000,-1.0,0.000000,0.000000,0.000000,...,1.000000,-1.0,-1.0,1.000000,6.000000,1372.000000,1.000000,4.000000,2.000000,1.000000
75%,284884.000000,2.000000,109.000000,0.000000,18.000000,0.000000,-1.0,0.000000,0.000000,0.000000,...,2.000000,-1.0,-1.0,2.000000,7.000000,1796.000000,1.000000,8.000000,6.000000,1.000000
max,379845.000000,18.000000,109.000000,5.000000,18.000000,9.000000,-1.0,5.000000,11.000000,8.000000,...,4.000000,-1.0,-1.0,3.000000,11.000000,91679.000000,8.000000,49.000000,10.000000,3.000000

In [143]:
missing_values_vehicles = vehicles[vehicles.eq(-1).any(1)]
missing_values_vehicles

,Unnamed: 0,�..Acc_Index,Vehicle_Reference,Vehicle_Type,Towing_and_Articulation,Vehicle_Manoeuvre,Vehicle_Location.Restricted_Lane,Junction_Location,Skidding_and_Overturning,Hit_Object_in_Carriageway,...,X1st_Point_of_Impact,Was_Vehicle_Left_Hand_Drive.,Journey_Purpose_of_Driver,Sex_of_Driver,Age_Band_of_Driver,Engine_Capacity_.CC.,Propulsion_Code,Age_of_Vehicle,Driver_IMD_Decile,Driver_Home_Area_Type
0,1,200401BS00001,1,3,0,18,0,-1,0,0,...,4,-1,-1,1,10,-1,-1,-1,8,1
1,2,200401BS00001,2,109,0,18,0,-1,0,0,...,1,-1,-1,1,6,1588,1,3,5,1
2,3,200401BS00002,1,109,0,18,0,-1,0,0,...,1,-1,-1,1,6,-1,-1,-1,3,1
3,4,200401BS00003,1,109,0,9,0,-1,0,0,...,1,-1,-1,1,6,998,1,4,-1,-1
4,5,200401BS00003,2,109,0,18,0,-1,0,0,...,1,-1,-1,1,10,-1,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379840,379841,2004984162204,3,109,0,18,0,-1,0,0,...,2,-1,-1,1,6,1997,1,10,-1,-1
379841,379842,2004984162804,1,21,2,7,0,-1,5,0,...,3,-1,-1,1,8,-1,2,9,-1,-1
379842,379843,2004984163904,1,109,0,16,0,-1,2,0,...,3,-1,-1,2,6,1299,1,-1,6,1
379843,379844,2004984164304,1,109,0,18,0,-1,1,0,...,3,-1,-1,1,7,3200,1,1,9,2
379844,379845,2004984164804,1,109,0,18,0,-1,0,0,...,3,-1,-1,2,6,998,1,7,-1,2

In [146]:
vehicles['Junction_Location'].value_counts() 
# podemos observar que una columna está llena sólo de datos faltantes, por lo que no aporta nada al dataset,
# por ello elegimos eliminarla

-1    379845
Name: Junction_Location, dtype: int64

In [147]:
vehicles.drop('Junction_Location', axis=1, inplace=True)

In [154]:
# ahora volvemos a revisar cuántas filas hay las cuales contengan el valor -1
# 'Was_Vehicle_Left_Hand_Drive' 'Journey_Purpose_of_Driver'
vehicles['Was_Vehicle_Left_Hand_Drive.'].value_counts()
vehicles['Journey_Purpose_of_Driver'].value_counts()
# podemos ver que las columnas mostradas arriba no contienen ningún dato útil, por lo que también los eliminamos
vehicles.drop('Was_Vehicle_Left_Hand_Drive.', axis=1, inplace=True)
vehicles.drop('Journey_Purpose_of_Driver', axis=1, inplace=True)

In [156]:
missing_values_vehicles = vehicles[vehicles.eq(-1).any(1)]
missing_values_vehicles
# podemos revisar que ahora tenemos un porcentaje alto de datos faltantes, podemos elegir eleminarlos o llenarlos con 
# algún valor, en nuestro decidimos eliminar las filas que contienen un -1

,Unnamed: 0,�..Acc_Index,Vehicle_Reference,Vehicle_Type,Towing_and_Articulation,Vehicle_Manoeuvre,Vehicle_Location.Restricted_Lane,Skidding_and_Overturning,Hit_Object_in_Carriageway,Vehicle_Leaving_Carriageway,Hit_Object_off_Carriageway,X1st_Point_of_Impact,Sex_of_Driver,Age_Band_of_Driver,Engine_Capacity_.CC.,Propulsion_Code,Age_of_Vehicle,Driver_IMD_Decile,Driver_Home_Area_Type
0,1,200401BS00001,1,3,0,18,0,0,0,0,0,4,1,10,-1,-1,-1,8,1
2,3,200401BS00002,1,109,0,18,0,0,0,0,0,1,1,6,-1,-1,-1,3,1
3,4,200401BS00003,1,109,0,9,0,0,0,0,0,1,1,6,998,1,4,-1,-1
4,5,200401BS00003,2,109,0,18,0,0,0,0,0,1,1,10,-1,-1,-1,-1,-1
6,7,200401BS00004,2,109,0,6,0,0,0,0,0,3,1,7,1781,1,10,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379839,379840,2004984162204,2,109,0,18,0,0,0,0,0,2,1,5,1299,1,10,-1,-1
379840,379841,2004984162204,3,109,0,18,0,0,0,0,0,2,1,6,1997,1,10,-1,-1
379841,379842,2004984162804,1,21,2,7,0,5,0,1,0,3,1,8,-1,2,9,-1,-1
379842,379843,2004984163904,1,109,0,16,0,2,0,1,0,3,2,6,1299,1,-1,6,1
379844,379845,2004984164804,1,109,0,18,0,0,0,8,9,3,2,6,998,1,7,-1,2

In [159]:
vehicles = vehicles[vehicles.ne(-1).all(1)]
vehicles
# con esto nuestro data set está limpio de datos faltantes

,Unnamed: 0,�..Acc_Index,Vehicle_Reference,Vehicle_Type,Towing_and_Articulation,Vehicle_Manoeuvre,Vehicle_Location.Restricted_Lane,Skidding_and_Overturning,Hit_Object_in_Carriageway,Vehicle_Leaving_Carriageway,Hit_Object_off_Carriageway,X1st_Point_of_Impact,Sex_of_Driver,Age_Band_of_Driver,Engine_Capacity_.CC.,Propulsion_Code,Age_of_Vehicle,Driver_IMD_Decile,Driver_Home_Area_Type
1,2,200401BS00001,2,109,0,18,0,0,0,0,0,1,1,6,1588,1,3,5,1
5,6,200401BS00004,1,3,0,18,0,0,0,0,0,1,1,6,124,1,1,3,1
7,8,200401BS00006,1,109,0,9,0,0,0,0,0,1,2,4,1242,1,6,6,1
10,11,200401BS00007,2,109,0,9,0,0,0,0,0,3,1,7,1997,1,5,2,1
16,17,200401BS00012,2,109,0,18,0,0,0,0,0,1,1,10,1598,1,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379812,379813,2004984154404,1,19,0,18,0,0,0,0,0,1,1,7,2151,2,1,4,1
379817,379818,2004984156904,1,109,0,18,0,0,11,0,0,3,1,9,899,1,5,6,1
379833,379834,2004984160404,5,109,0,18,0,1,0,0,0,1,1,6,1242,1,2,4,1
379834,379835,2004984160404,6,109,0,18,0,1,0,0,0,1,1,7,1598,1,13,2,1
379843,379844,2004984164304,1,109,0,18,0,1,0,6,7,3,1,7,3200,1,1,9,2

In [161]:
# podemos cambiar la columna de 'Sex_of_Driver' para tener valores categóricos
sex = {
  1: 'male',
  2: 'female',
  3: 'not known'
}
sex_of_driver = vehicles.replace({"Sex_of_Driver": sex})['Sex_of_Driver']
sex_of_driver.astype('category')

1           male
5           male
7         female
10          male
16          male
           ...
379812      male
379817      male
379833      male
379834      male
379843      male
Name: Sex_of_Driver, Length: 159153, dtype: category
Categories (3, object): [female, male, not known]

In [163]:
# ahora podemos guardar el data set
vehicles_cl = vehicles.replace({"Sex_of_Driver": sex})
vehicles_cl.to_csv('../data/vehicles_clean.csv')