In [3]:
import pandas as pd

In [10]:
accidents = pd.read_csv('../data/vehicles2004.csv')

In [11]:
accidents.head()

,Unnamed: 0,�..Acc_Index,Vehicle_Reference,Vehicle_Type,Towing_and_Articulation,Vehicle_Manoeuvre,Vehicle_Location.Restricted_Lane,Junction_Location,Skidding_and_Overturning,Hit_Object_in_Carriageway,...,X1st_Point_of_Impact,Was_Vehicle_Left_Hand_Drive.,Journey_Purpose_of_Driver,Sex_of_Driver,Age_Band_of_Driver,Engine_Capacity_.CC.,Propulsion_Code,Age_of_Vehicle,Driver_IMD_Decile,Driver_Home_Area_Type
0,1,200401BS00001,1,3,0,18,0,-1,0,0,...,4,-1,-1,1,10,-1,-1,-1,8,1
1,2,200401BS00001,2,109,0,18,0,-1,0,0,...,1,-1,-1,1,6,1588,1,3,5,1
2,3,200401BS00002,1,109,0,18,0,-1,0,0,...,1,-1,-1,1,6,-1,-1,-1,3,1
3,4,200401BS00003,1,109,0,9,0,-1,0,0,...,1,-1,-1,1,6,998,1,4,-1,-1
4,5,200401BS00003,2,109,0,18,0,-1,0,0,...,1,-1,-1,1,10,-1,-1,-1,-1,-1